@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}

* {
  font-family: "Vazirmatn", sans-serif;
}

.customTransform > *:not(.drawer-overlay) {
  transform: translateX(100%);
}
