---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "404: Not Found" includeSidebar={false}>
  <div class="text-center">
    <h1 class="text-9xl font-bold mb-4">๐</h1>
    <h1 class="text-9xl font-bold mb-2">404</h1>
    <h3 class="text-2xl">!ุตูุญู ููุฑุฏ ูุธุฑ ูพุฏุง ูุดุฏ</h3>
    <a class="btn btn-accent mt-9" href="/">ุจุงุฒฺฏุดุช ุจู ุตูุญู ุงุตู</a>
  </div>
</BaseLayout>
