---
import BaseLayout from "../layouts/BaseLayout.astro"
---


<BaseLayout title="Contact" sideBarActiveItemID="contact">
<section class="about-us" dir="rtl">
        <h1>درباره مسابقه ICPC</h1>
    <br>
        <p>
            مسابقه برنامه‌نویسی ICPC (مسابقات بین‌المللی برنامه‌نویسی دانشجویی) یکی از مهم‌ترین و بزرگ‌ترین مسابقات برنامه‌نویسی در سطح جهان است. این مسابقات به دانشجویان دانشگاه‌ها فرصتی برای به نمایش گذاشتن توانایی‌های برنامه‌نویسی خود می‌دهد و به تیم‌ها این امکان را می‌دهد که با بهترین‌های جهان رقابت کنند.
        </p>
        <p>
            هدف این مسابقه تقویت مهارت‌های حل مسئله، کار تیمی و یادگیری سریع ابزارهای جدید برای حل مسائل پیچیده است.
        </p>
  </section>
</BaseLayout>
