---
import HorizontalCard from "@components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5 flex flex-col" dir="rtl">
    <div class="text-5xl font-bold ">
      صفحه اصلی مسابقات
      BCPC

    </div>
    <br>
    <div class="text-3xl py-3 font-bold">درباره مسابقه</div>
    <div class="py-2" dir="rtl">
      <text class="text-lg text-right">
        <b>اهداف مسابقه</b>
        <br/>

هدف از برگزاری مسابقه BCPC در شهر بیرجند، ارتقاء سطح علمی و فنی دانشجویان و ایجاد بستری برای رقابت سالم و انگیزه‌بخش بین دانشگاه‌های مختلف است. همچنین، این مسابقه به شرکت‌کنندگان کمک می‌کند تا با چالش‌های واقعی برنامه‌نویسی در سطح جهانی آشنا شوند و فرصت‌هایی برای ورود به عرصه‌های بین‌المللی به دست آورند.
         </text>
    </div>
    <div class="mt-8">
      <a href="/signup" class="btn btn-outline">
        ثبت نام
      </a>
      <a class="btn" href="/contact">درباره ما</a>
    </div>

        <a
      href="/onlineContest/tag/اطلاعیه"
      class="w-[10rem] my-4 justify-start flex items-center rounded-sm cursor-pointer container-notif" 
              target="_self"
    >
      <img src="https://api.iconify.design/ic:twotone-notifications-active.svg?color=%23ffffff" class="w-[2.8rem] h-[2.8rem] p-2 bg-red-500 rounded-full ml-[-1.5rem] z-10  notif-animation transition-colors" />
      <span class="bg-gray-100 transition-colors font-bold p-1 pr-[1rem]  w-[8rem] text-center rounded-full">
      اطلاعیه ها
      </span>
    </a>

  </div>

 
</BaseLayout>
<style>
@keyframes rotate {
0% {transform: rotate(0deg);} 
20% {transform: rotate(15deg);}  
50%{transform:rotate(0deg)}
75% {transform: rotate(-15deg);}  
100% {transform: rotate(0deg);}  
}

.container-notif {
  img {
    box-shadow : 0 .2rem .4rem rgba(0, 0, 0,.3);
  }
}
.container-notif:hover {
  img {
    @apply bg-red-600;
  }
span {
    @apply bg-gray-200;
  }
.notif-animation{
  animation : rotate .2s;
    animation-delay : .1s;
  animation-iteration-count: infinite;
  animation-timing-function : linear;
}

}
</style>
