---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5 flex flex-col" dir="rtl">
    <div class="text-5xl font-bold "> BCPC صفحه اصلی مسابقات </div>
    <div class="text-3xl py-3 font-bold">درباره مسابقه</div>
    <div class="py-2" dir="rtl">
      <text class="text-lg text-right">
        <b>اهداف مسابقه</b>
        <br/>

هدف از برگزاری مسابقه BCPC در شهر بیرجند، ارتقاء سطح علمی و فنی دانشجویان و ایجاد بستری برای رقابت سالم و انگیزه‌بخش بین دانشگاه‌های مختلف است. همچنین، این مسابقه به شرکت‌کنندگان کمک می‌کند تا با چالش‌های واقعی برنامه‌نویسی در سطح جهانی آشنا شوند و فرصت‌هایی برای ورود به عرصه‌های بین‌المللی به دست آورند.
         </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/contact">درباره ما</a>
      <a href="/signup" class="btn btn-outline ml-5">
        ثبت نام
      </a>
    </div>
  </div>

 
</BaseLayout>
