---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; 
---

<ul class="menu grow shrink menu-md overflow-y-auto [&>*]:text-right" dir="rtl">
    <li><a class="py-3 text-base" id="home" href="/">خانه</a></li>
    <li><a class="py-3 text-base" id="onlineContest" href="/onlineContest">مسابقه آنلاین</a></li>
  {/*<li><a class="py-3 text-base" id="contest" href="/contest">مسابقه حضوری</a></li>*/}
    <li><a class="py-3 text-base" id="signup" href="/signup">ثبت نام</a></li>
    <li><a class="py-3 text-base" id="contact" href="/contact/">ارتباط با ما</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
